.pink,
.green,
.yellow {
 color:#000
}
div.header {
 background-position:0px 0px;
 background-color:#0a1526;
 position:relative;
 top:0;
 left:0;
 width:100%
}
div.header.gradient {
 width:100%;
 z-index:0
}
.gradient.silver {
 background-image:radial-gradient(at 30% top, #24343b 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.pink {
 background-image:radial-gradient(at 30% top, #341a38 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.purple {
 background-image:radial-gradient(at 30% top, #20284a 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.green {
 background-image:radial-gradient(at 30% top, #031d33 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.teal {
 background-image:radial-gradient(at 30% top, #073d3f 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.light_blue {
 background-image:radial-gradient(at 30% top, #073844 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.blue {
 background-image:radial-gradient(at 30% top, #072e46 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.orange {
 background-image:radial-gradient(at 30% top, #2f2e1d 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.yellow {
 background-image:radial-gradient(at 30% top, #2f331d 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
.gradient.red {
 background-image:radial-gradient(at 30% top, #30172a 0%, rgba(var(--tmdbDarkBlue), 1) 70%)
}
div.header.gradient.background_image {
 background-image:radial-gradient(at 30% top, rgba(var(--tmdbDarkBlue), 0.5) 0%, rgba(var(--tmdbDarkBlue), 0.75) 70%)
}
div#account_scroll {
 width:100%;
 display:flex;
 justify-content:center
}
div.account_page_data {
 width:100%;
 box-sizing:border-box
}
div.block div.inner_content {
 background-color:#fff;
 box-sizing:border-box;
 width:100%;
 display:flex;
 align-items:center;
 justify-content:center
}
div.header div.inner_content {
 background-color:transparent;
 background-repeat:no-repeat;
 background-position:center -250px;
 position:relative;
 top:0;
 left:0;
 z-index:2;
 padding:0
}
div.header div.inner_content.tight {
 padding:0
}
ul#new_shortcut_bar.silver>.true.k-item {
 border-color:rgba(var(--accountSilver), 1)
}
ul#new_shortcut_bar.pink>.true.k-item {
 border-color:rgba(var(--accountPink), 1)
}
ul#new_shortcut_bar.purple>.true.k-item {
 border-color:rgba(var(--accountPurple), 1)
}
ul#new_shortcut_bar.green>.true.k-item {
 border-color:rgba(var(--accountGreen), 1)
}
ul#new_shortcut_bar.teal>.true.k-item {
 border-color:rgba(var(--accountTeal), 1)
}
ul#new_shortcut_bar.light_blue>.true.k-item {
 border-color:rgba(var(--accountLightBlue), 1)
}
ul#new_shortcut_bar.blue>.true.k-item {
 border-color:rgba(var(--accountBlue), 1)
}
ul#new_shortcut_bar.orange>.true.k-item {
 border-color:rgba(var(--accountOrange), 1)
}
ul#new_shortcut_bar.yellow>.true.k-item {
 border-color:rgba(var(--accountYellow), 1)
}
ul#new_shortcut_bar.red>.true.k-item {
 border-color:rgba(var(--accountRed), 1)
}
.silver .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountSilver), 1)
}
.pink .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountPink), 1)
}
.purple .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountPurple), 1)
}
.green .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountGreen), 1)
}
.teal .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountTeal), 1)
}
.light_blue .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountLightBlue), 1)
}
.blue .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountBlue), 1)
}
.orange .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountOrange), 1)
}
.yellow .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountYellow), 1)
}
.red .k-menu-group .k-item>.k-state-active {
 background-color:rgba(var(--accountRed), 1)
}
div.header.silver div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg")
}
div.header.pink div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/pink-37bff5abbba8578bee5e51fc0115cf819c4918f4f6dfe3804737eb5f9b84f2a0.svg")
}
div.header.purple div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg")
}
div.header.green div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/green-79a9507a08a7e5a9b8c643a69026fe46191c45972cb45b944ab4b5f8a9110b03.svg")
}
div.header.teal div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/teal-2b30e621b46abc5f5c1c192b0adfbf81793a9f082d749fc3d20047a4ef10c27f.svg")
}
div.header.light_blue div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/light_blue-a230b623827400e967c6eb7241d88086f2eb9264c0789d0dab15ae6f1df1421a.svg")
}
div.header.blue div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/blue-ad2008f9b378cedc9a1c31b6be9ee3c18589137e4495ed05586c3cb09a95d3f2.svg")
}
div.header.orange div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/orange-17e330d2d6a99f8f2845928bf31675f4f600c8e743a51121b752de7fd09fdae0.svg")
}
div.header.yellow div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/yellow-b8b0d03570e5f22479349fcc66139d3f397ea42d9fa7254f6dbdae1086fc263e.svg")
}
div.header.red div.inner_content {
 background-image:url("/assets/2/v4/account_pipes/red-b64316df5633aa0687196d10fa429418035b55122c0b5726082669b9748a0e2a.svg")
}
div.header.gradient.background_image div.inner_content {
 background-image:none
}
div.header.gradient.background_image {
 background-position:center top;
 background-size:cover;
 background-color:transparent;
 background-image:radial-gradient(at 30% top, rgba(var(--tmdbDarkBlue), 0.75) 0%, rgba(var(--tmdbDarkBlue), 0.9) 70%)
}
div.bg_image {
 position:relative;
 width:100%;
 background-position:center top;
 background-size:cover
}
a.button:hover {
 background-color:rgba(var(--tmdbDarkBlue), 1);
 border-color:rgba(var(--tmdbDarkBlue), 1)
}
a.button.background_color {
 color:#fff;
 font-weight:700
}
p.button {
 margin:50px 0 0 0;
 padding:0;
 width:100%;
 text-align:center;
 font-size:1.2em
}
div.block div.inner_content div.content {
 color:#fff;
 display:flex;
 max-width:var(--maxPrimaryPageWidth);
 width:100%;
 padding:0 40px
}
div.block.header div.inner_content div.content {
 padding:40px;
 flex-wrap:nowrap
}
div.block.header div.inner_content div.content>div {
 display:flex;
 align-items:center
}
div.header div.inner_content.tight div.content {
 align-items:center;
 padding:20px 40px
}
div.header div.inner_content div.content span.avatar {
 min-width:150px;
 width:150px;
 height:150px
}
div.header div.inner_content.tight div.content span.avatar {
 box-sizing:border-box;
 min-width:50px;
 width:50px;
 height:50px;
 margin-right:20px
}
div.header div.inner_content div.content span.avatar a {
 display:block;
 margin:0;
 width:100%;
 height:100%
}
div.header div.inner_content div.content span.avatar a img {
 border-radius:50%
}
div.header div.inner_content div.content span.avatar img,
div.header div.inner_content div.content span.avatar span {
 width:100%;
 height:100%
}
div.header div.inner_content.tight div.content span.avatar img,
div.header div.inner_content.tight div.content span.avatar span {
 width:50px;
 height:50px
}
div.header div.inner_content div.content span.avatar span {
 display:inline-flex;
 flex-wrap:nowrap;
 align-items:center;
 justify-content:center;
 font-size:4em
}
div.header div.inner_content.tight div.content span.avatar span {
 font-size:1.5em
}
div.header div.inner_content div.about {
 box-sizing:border-box;
 width:100%;
 padding-left:40px;
 display:flex;
 justify-content:flex-start;
 align-items:flex-start;
 align-content:flex-start;
 flex-wrap:wrap
}
div.header div.inner_content.tight div.about {
 padding-left:0;
 align-content:center;
 align-items:center
}
div.header.no_image div.inner_content.tight div.about {
 padding-left:0
}
div.header div.inner_content div.about a {
 color:#fff;
 display:inline-block
}
div.header div.inner_content div.about a.settings {
 align-self:flex-end;
 font-size:1.7em;
 padding-right:7px
}
div.header div.inner_content div.about a.settings.error {
 color:#ffdb34
}
div.header div.inner_content div.about h2 {
 font-weight:700;
 font-size:2em;
 display:inline-flex;
 align-items:center;
 justify-content:center;
 margin:0;
 margin-right:10px
}
div.header div.inner_content div.about h2 a {
 font-weight:700
}
div.header div.inner_content div.about h2 img+span {
 margin-left:10px
}
div.header div.inner_content div.about h3 {
 display:inline-block;
 opacity:0.7;
 font-size:1.1em;
 margin-bottom:0
}
div.header div.inner_content div.about h3 span.glyphicons {
 top:2px;
 font-size:0.9em;
 margin-left:4px
}
div.header div.inner_content div.about div.content_wrapper {
 width:100%;
 padding:10px 0
}
div.header div.inner_content div.about div.content_wrapper p:last-of-type {
 margin-bottom:0
}
div.header div.inner_content div.about div.content_wrapper.flex {
 width:100%;
 flex-wrap:nowrap;
 display:flex;
 align-items:center;
 padding-top:10px
}
div.header div.inner_content div.about div.content_wrapper:first-of-type {
 line-height:1;
 padding:0;
 align-items:baseline
}
div.header div.inner_content div.about div.content_wrapper.flex_start {
 display:flex;
 align-items:flex-start
}
div.header div.inner_content div.about div.content_wrapper.flex_start img.youtube {
 width:42px;
 height:30px;
 margin-top:4px;
 margin-right:8px
}
div.header div.inner_content div.about div.content_wrapper.flex_start img.vimeo {
 margin-right:10px;
 width:34px;
 height:30px;
 padding-top:8px;
 padding-bottom:8px
}
div.header div.inner_content div.about div.content_wrapper:last-of-type {
 padding-bottom:0
}
div.header div.inner_content div.about div.content_wrapper div.block {
 display:inline-flex;
 align-items:center
}
div.header div.inner_content div.about div.content_wrapper div.block span.social {
 font-size:2em
}
div.header div.inner_content div.about div.content_wrapper div.block a.social_link {
 margin-right:10px;
 display:inline-flex;
 align-items:center;
 font-size:2.4em
}
div.header div.inner_content div.about div.content_wrapper div.block:last-of-type a.social_link {
 margin-right:0
}
div.header div.inner_content div.about div.content_wrapper div.block:first-of-type {
 padding-left:0
}
div.header div.inner_content div.about div.content_wrapper div.block:first-of-type div.text {
 border-right:1px solid #fff
}
div.header div.inner_content div.about div.content_wrapper div.block:nth-of-type(2) div.text {
 margin-right:0
}
div.header div.inner_content div.about div.content_wrapper div.block div.text {
 display:inline-block;
 height:auto;
 padding:0 30px 0 15px;
 margin-right:30px
}
div.header div.inner_content div.about div.content_wrapper div.social_links {
 display:flex;
 align-items:center
}
div.header div.inner_content div.about div.content_wrapper div.social_links div.block:first-of-type {
 border-left:1px solid #fff;
 padding-left:30px;
 min-height:40px
}
div.block div.content ul.menu {
 padding-top:17.5px;
 display:flex;
 align-items:baseline
}
div.block div.content ul.menu li {
 font-size:1.2em;
 margin:0 20px
}
div.block div.content ul.menu li:first-of-type {
 margin-left:0
}
div.block div.content ul.menu li:last-of-type {
 margin-right:0
}
div.block div.content ul.menu li a {
 font-weight:600;
 color:#a3a3a3;
 transition:all 0.3s
}
div.block div.content ul.menu li a:hover {
 color:#000
}
div.block div.content ul.menu li.selected a {
 color:#000
}
div.block div.content ul.menu li.selected {
 padding-bottom:17.5px;
 border-bottom-style:solid;
 border-width:5px
}
div.scroller {
 width:100%;
 max-width:100%;
 -webkit-overflow-scrolling:touch;
 overflow-x:scroll;
 overflow-y:hidden;
 position:relative;
 top:0;
 left:0;
 padding-bottom:10px
}
div.scroller::-webkit-scrollbar {
 height:8px;
 width:8px
}
div.scroller::-webkit-scrollbar-track {
 background:transparent
}
div.scroller::-webkit-scrollbar-thumb {
 background-color:rgba(var(--scrollerGrey), 1);
 border-radius:20px
}
div.inner_block {
 width:100%
}
div.inner_block.pad_top {
 margin-top:20px
}
div.inner_block:first-of-type {
 margin-top:20px
}
div.inner_block:last-of-type {
 margin-bottom:20px
}
div.inner_block+div.inner_block {
 margin-top:30px
}
div.inner_block.no_top_margin {
 margin-top:0
}
div.inner_block.no_bottom_margin {
 margin-bottom:0
}
div.inner_block div.inner_content {
 box-sizing:border-box;
 width:100%;
 display:flex;
 align-items:center;
 justify-content:center
}
div.inner_block.docs div.inner_content div.content,
main div.media>div.single_column,
main>div.inner_block>div.inner_content>div.content,
div.account_page_data div.inner_block div.inner_content div.content {
 max-width:var(--maxPrimaryPageWidth);
 width:100%;
 padding-left:40px;
 padding-right:40px;
 padding-top:0;
 padding-bottom:0
}
div.inner_block div.inner_content div.content h2 {
 font-weight:700;
 margin-bottom:0
}
div.inner_block div.inner_content div.content p {
 margin:0;
 padding:0
}
div.inner_block div.inner_content div.content div.title_header+div.results_page,
div.inner_block div.inner_content div.content h2+p,
div.inner_block div.inner_content div.content h2+table,
div.inner_block div.inner_content div.content h2+form {
 margin-top:10px
}
div.inner_block div.inner_content div.content p+p {
 margin-top:10px
}
div.inner_block div.inner_content div.content p img.emoji {
 width:24px;
 height:24px;
 vertical-align:middle
}
div.inner_block div.inner_content div.content ol.most_watched {
 list-style-position:inside;
 margin:0;
 padding:0;
 font-size:1.1em;
 line-height:1em;
 font-weight:700
}
div.inner_block div.inner_content div.content ol.most_watched li {
 margin:0;
 padding:0
}
div.inner_block div.inner_content div.content div.graph {
 margin-top:10px;
 margin-bottom:0
}
div.inner_block div.inner_content div.content div.title_header {
 width:100%;
 display:flex;
 align-items:baseline;
 justify-content:space-between;
 margin-bottom:5px
}
div.inner_block div.inner_content div.content div.title_header+p {
 margin-top:10px
}
div.inner_block div.inner_content div.content div.title_header+div.k-form-field {
 margin-top:1rem
}
div.inner_block div.inner_content div.content div.title_header div.title_group,
div.inner_block div.inner_content div.content div.title_header div.filter_group {
 display:flex;
 align-items:baseline;
 width:100%
}
div.inner_block div.inner_content div.content div.title_header div.title_group.space_between {
 justify-content:space-between
}
div.inner_block div.inner_content div.content div.title_header div.title_group div {
 display:flex
}
div.inner_block div.inner_content div.content div.title_header div.filter_group {
 flex-wrap:nowrap;
 align-items:baseline;
 justify-content:flex-end
}
div.inner_block div.inner_content div.content div.title_header div.filter_group div {
 display:flex;
 flex-wrap:nowrap;
 align-items:baseline
}
div.inner_block div.inner_content div.content div.title_header div.filter_group div span.search {
 top:5px;
 font-size:1.4em
}
div.inner_block div.inner_content div.content div.title_header div.filter_group div.sort_filter.hide {
 display:none
}
div.inner_block div.inner_content div.content div.title_header div.filter_group div.sort_filter.hide+div.group_wrapper {
 width:100%
}
div.inner_block div.inner_content div.content div.title_header h2 {
 margin:0
}
div.inner_block div.inner_content div.content div.title_header h3 {
 margin:0 0 0 20px;
 font-size:1em;
 font-weight:700
}
div.inner_block div.inner_content div.content div.title_header h3.on {
 padding-bottom:4px;
 border-width:4px;
 border-bottom-style:solid
}
div.inner_block div.inner_content div.content div.title_header h3 span {
 font-weight:400;
 font-size:0.9em;
 padding-left:4px;
 opacity:0.7
}
div.inner_block div.inner_content div.content div.title_header h4 {
 font-weight:300;
 font-size:1.1em;
 position:relative;
 top:0;
 left:0
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper {
 position:relative;
 top:0;
 left:0;
 overflow:visible
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown {
 display:flex;
 align-items:baseline;
 position:relative;
 top:0;
 left:0;
 padding:10px 16px;
 margin:0
}
div.inner_block div.inner_content div.content div.title_header div.order_filter {
 display:flex;
 align-items:center
}
div.inner_block div.inner_content div.content div.title_header div.order_filter.hide {
 display:none
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown.filters {
 min-width:100px
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort {
 margin-right:10px;
 font-size:1.4em;
 padding:0
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort a {
 padding:10px 8px 0 8px
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown span {
 font-weight:600;
 position:relative;
 top:0;
 left:0;
 padding-bottom:3px;
 z-index:2;
 width:100%
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown.sort a span {
 padding:0;
 top:4px
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.sort_text span.text {
 display:inline-flex;
 justify-content:space-between;
 align-items:baseline
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown a.selected {
 border:none;
 cursor:pointer
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.border_color:hover {
 cursor:pointer
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown span.border_color {
 border-bottom-style:solid;
 border-bottom-width:1px
}
div.inner_block div.inner_content div.content div.title_header span.glyphicons {
 box-sizing:border-box;
 font-weight:300;
 color:rgba(0,0,0,0.6);
 top:4px
}
div.inner_block div.inner_content div.content div.title_header div.group_dropdown span img {
 width:auto;
 height:6px;
 padding-left:12px
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul {
 display:none;
 background-color:#fff;
 border:1px solid rgba(0,0,0,0.1)
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul li {
 white-space:nowrap
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper div.group_dropdown ul li.selected {
 display:none
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper:hover div.group_dropdown ul {
 animation:fadeIn 0.3s;
 display:block;
 position:absolute;
 top:0;
 left:0;
 z-index:1;
 width:100%;
 padding:40px 16px 10px 16px;
 box-sizing:border-box;
 overflow:visible
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper form.hide {
 display:none
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper form {
 display:inline-block;
 animation:fadeIn 0.3s;
 margin-top:15px;
 margin-bottom:5px;
 width:100%
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper form input {
 font-size:1em;
 display:inline-block;
 background:transparent;
 border:none;
 border-bottom-width:1px;
 border-bottom-style:solid;
 padding-left:4px;
 padding-right:4px;
 padding-bottom:5px;
 box-sizing:border-box;
 width:100%
}
div.inner_block div.inner_content div.content div.title_header div.group_wrapper form input:focus {
 outline:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
div.inner_block div.inner_content div.content div.title_header a.button {
 padding:4px 8px;
 margin-left:20px
}
div.inner_block div.inner_content div.content div.stats_blocks {
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between
}
div.inner_block div.inner_content div.content div.stats_blocks div.stat_block {
 box-sizing:border-box
}
div.inner_block div.inner_content div.content div.stats_blocks div.stat_block h2 {
 font-size:3.6em;
 line-height:1;
 margin:0
}
div.inner_block div.inner_content div.content div.stats_blocks div.stat_block h3 {
 color:rgba(var(--tmdbDarkBlue), 1);
 margin:0 0 6px 0
}
div.inner_block div.inner_content div.content p.button {
 margin-top:20px
}
div#genre_chart {
 height:80px;
 width:200px;
 overflow:visible
}
div#rating_histogram_chart {
 width:290px;
 height:70px
}
div#rating_date_histogram {
 width:100%;
 height:100px;
 margin-bottom:20px
}
div.results_page {
 margin-top:30px
}
div.results_page:first-of-type {
 margin-top:0
}
div.card.v4 {
 width:100%;
 display:flex;
 border-radius:var(--imageBorderRadius);
 overflow:hidden
}
div.card.v4+div.card {
 margin-top:20px
}
div.card.v4.tight:first-of-type {
 margin-top:0
}
div.card.v4 div.image {
 width:calc(200px / 1.5);
 min-width:calc(200px / 1.5);
 height:200px;
 box-sizing:border-box
}
div.card.v4 div.image div.poster {
 width:100%;
 height:100%
}
div.card.v4.movie.adult_true div.image img,
div.card.v4.tv.adult_true div.image img {
 filter:blur(20px);
 transform:scale(1.4)
}
div.card.v4 div.image img {
 width:calc(200px / 1.5);
 min-width:calc(200px / 1.5);
 height:200px;
 display:block
}
div.card.v4 div.details {
 width:100%;
 padding:10px 15px;
 box-sizing:border-box;
 display:flex;
 flex-wrap:wrap;
 align-content:center;
 align-items:center
}
div.card.v4 div.details div.flex_space_between {
 width:100%
}
div.card.v4 div.details div.title {
 width:100%;
 display:flex;
 flex-wrap:wrap;
 align-items:baseline;
 overflow:hidden
}
div.card.v4 div.details div.title>div {
 width:100%;
 line-height:100%
}
div.card.v4 div.details div.title a {
 display:inline-block
}
div.card.v4 div.details div.title a:hover {
 color:rgba(var(--tmdbLightBlue), 1)
}
div.card.v4 div.details div.title h2 {
 font-size:1.2em;
 line-height:1.2em;
 margin-bottom:0;
 display:-webkit-box;
 -webkit-line-clamp:1;
 -webkit-box-orient:vertical;
 text-overflow:ellipsis;
 overflow:hidden
}
div.card.v4 div.details div.title span.release_date {
 white-space:nowrap;
 color:#999
}
div.card.v4 div.details div.title div.rating {
 display:inline-flex;
 justify-content:center;
 align-items:center;
 width:30px;
 height:30px;
 background-color:rgba(var(--tmdbDarkBlue), 1);
 border-radius:50%;
 color:#fff;
 font-size:0.7em
}
div.card.v4 div.details div.overview {
 margin-top:10px
}
div.card.v4 div.details div.overview p {
 margin:0;
 display:-webkit-box;
 -webkit-line-clamp:3;
 -webkit-box-orient:vertical;
 text-overflow:ellipsis;
 overflow:hidden
}
div.card.v4 div.details p {
 color:#000
}
div.card.v4 div.action_bar {
 margin-top:20px;
 width:100%;
 box-sizing:border-box;
 display:flex
}
div.card.v4 div.action_bar ul {
 display:flex;
 align-items:center
}
div.card.v4 div.action_bar ul li {
 margin-left:10px;
 color:#959595;
 display:flex;
 align-items:center
}
div.card.v4 div.action_bar ul li:first-of-type {
 margin-left:0
}
div.card.v4 div.action_bar ul li a {
 color:#959595;
 display:flex;
 align-items:center;
 padding-right:7px;
 padding-left:7px
}
div.card.v4 div.action_bar ul li:first-of-type a {
 padding-right:7px;
 padding-left:0
}
div.card.v4 div.action_bar ul li:last-of-type a {
 padding-right:0;
 padding-left:7px
}
div.card.v4 div.action_bar ul li a:hover span.wrapper {
 background-color:#959595;
 border:1px solid #959595;
 color:#fff
}
div.card.v4 div.action_bar ul li span.wrapper {
 position:static;
 display:inline-flex;
 align-items:center;
 justify-content:center;
 width:30px;
 height:30px;
 border:1px solid #959595;
 border-radius:50%;
 margin-right:8px;
 font-size:0.7em;
 box-sizing:border-box;
 overflow:hidden
}
div.card.v4 div.action_bar ul li span.glyphicons_v2 {
 font-size:1.5em;
 filter:invert(64%) sepia(0%) saturate(2%) hue-rotate(139deg) brightness(92%) contrast(92%)
}
div.card.v4 div.action_bar ul li a.list_item_rating_with_date span.rating.wrapper {
 border-color:#01d277;
 background-color:#01d277;
 color:#fff;
 font-size:1em;
 font-weight:700;
 display:inline-flex;
 align-items:center;
 justify-content:center
}
div.card.v4 div.action_bar ul li a.selected span.favourite.wrapper,
div.card.v4 div.action_bar ul li a:hover span.favourite.wrapper {
 background-color:#ef47b6;
 border:1px solid #ef47b6;
 color:#fff
}
div.card.v4 div.action_bar ul li a.selected span.wrapper span.glyphicons_v2,
div.card.v4 div.action_bar ul li a:hover span.wrapper span.glyphicons_v2 {
 filter:invert(1)
}
div.card.v4 div.action_bar ul li a span {
 transition:0.1s linear
}
div.card.v4 div.action_bar ul li a.selected {
 border:none
}
div.card.v4.mini {
 display:inline-block;
 width:250px;
 margin-right:10px;
 margin-bottom:10px;
 overflow:hidden
}
div.card.v4.mini+div.card.v4.mini {
 margin-top:0
}
div.card.v4.mini div.image {
 width:250px;
 height:141px;
 overflow:hidden
}
div.card.v4.mini div.image div.backdrop {
 width:100%;
 height:100%;
 position:relative;
 left:0;
 top:0
}
div.card.v4.mini div.image div.backdrop a {
 display:block;
 width:100%;
 height:100%
}
div.card.v4.mini div.image div.backdrop img {
 width:250px;
 height:141px
}
div.card.v4.mini div.details {
 box-sizing:border-box;
 width:100%;
 overflow:hidden;
 padding:10px;
 flex-wrap:wrap
}
div.card.v4.mini div.details div.title {
 display:block;
 overflow:hidden;
 width:100%
}
div.card.v4.mini div.details div.title h2 {
 font-size:1em;
 margin:0;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis
}
div.card.v4.mini div.details div.sub_title {
 width:100%;
 color:rgba(0,0,0,0.5);
 font-size:0.9em;
 display:flex;
 justify-content:space-between
}
div.list_cards {
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between
}
div.card.v4.list {
 width:calc((100vw - 100px) / 2);
 max-width:calc((var(--maxPrimaryPageWidth) - 100px) / 2);
 height:calc(((100vw - 100px) / 2) / 1.78);
 max-height:calc(((var(--maxPrimaryPageWidth) - 100px) / 2) / 1.78);
 overflow:hidden;
 margin-top:20px;
 position:relative;
 top:0;
 left:0
}
div.card.v4.list div.image {
 width:100%;
 min-width:100%;
 height:100%
}
div.card.v4.list div.image img {
 width:100%;
 min-width:100%;
 height:100%
}
div.card.v4.list div.details {
 box-sizing:border-box;
 position:absolute;
 top:0;
 left:0;
 padding:0;
 width:100%;
 height:100%;
 display:flex;
 justify-content:center;
 align-items:center;
 align-content:center;
 flex-wrap:wrap;
 padding:20px 40px;
 background-color:rgba(var(--tmdbDarkBlue), 0.8)
}
div.card.v4.list div.details h2 {
 color:#fff;
 font-size:2em;
 line-height:1.1em;
 font-weight:700;
 font-style:italic;
 text-align:center;
 margin-bottom:0;
 width:100%;
 max-height:4.4em;
 overflow:hidden;
 box-sizing:border-box
}
div.card.v4.list div.details h2 a {
 color:#fff;
 font-weight:700;
 font-style:italic
}
div.card.v4.list div.details ul {
 width:100%;
 color:#fff;
 font-size:1.2em;
 font-weight:600;
 font-style:italic;
 text-align:center;
 margin-top:10px;
 margin-bottom:0;
 display:flex;
 align-items:baseline;
 justify-content:center
}
div.card.v4.list div.details ul li {
 padding-right:20px
}
div.card.v4.list div.details ul li:last-of-type {
 padding-right:0
}
div.card.v4.list div.details ul li span.tag {
 color:rgba(255,255,255,0.8);
 background-color:rgba(255,255,255,0.4);
 -webkit-backdrop-filter:blur(20px);
 backdrop-filter:blur(20px);
 border-radius:5px;
 padding:6px 6px;
 display:inline-flex;
 align-items:center;
 justify-content:center;
 font-size:0.8em;
 line-height:0.8em;
 font-style:normal;
 text-transform:uppercase
}
div.card.v4.list div.details p {
 margin:0;
 padding:0;
 font-size:1em;
 color:rgba(255,255,255,0.5)
}
div.activity_media_cards {
 margin-top:10px
}
div.activity_graph {
 margin-top:20px
}
h3.date {
 font-weight:600;
 font-size:1.6em;
 color:#acacac;
 border-bottom:1px solid #dbdbdb;
 padding-bottom:8px;
 margin-bottom:20px;
 display:inline-flex;
 align-items:center;
 width:100%
}
div.card+h3.date {
 margin-top:50px
}
h3.date span.glyphicons {
 margin-right:6px;
 font-size:0.9em
}
section.content {
 width:100%
}
div.column+section.content,
div.wrap+section.content,
section.content.pad_left {
 margin-left:30px
}
div.column_wrapper {
 display:flex;
 align-items:flex-start
}
div.column_wrapper.fifty span.column {
 width:50%;
 box-sizing:border-box
}
div.column_wrapper.fifty span.column:nth-child(odd) {
 padding-right:10px
}
div.column_wrapper.fifty span.column:nth-child(even) {
 padding-left:10px
}
div.column_wrapper.nowrap {
 flex-wrap:nowrap
}
div.column_wrapper.between {
 justify-content:space-between
}
div.discussion_container {
 width:100%;
 margin-top:10px
}
div.column_wrapper div.column_content {
 padding-left:30px
}
div.column_wrapper div.column_content,
div.discussion_container table {
 width:100%
}
div.discussion_container table.width_100 {
 width:100%
}
div.settings_panel.active_boards {
 margin-top:10px
}
div.column_content form h3:first-of-type {
 margin-top:0
}
div.column_content h3 {
 margin-top:30px;
 padding-left:0;
 padding-right:0
}
div.column_content p:last-of-type {
 margin-bottom:0
}
p.avatar {
 display:flex;
 align-items:center
}
p.avatar img+a {
 margin-left:8px
}
div.accent_colors {
 display:flex;
 flex-wrap:nowrap;
 justify-content:space-between;
 margin-top:1rem
}
div.accent_colors div.color {
 width:50px;
 height:50px;
 border-radius:50%
}
div.accent_colors div.color+div.color {
 margin-left:10px
}
div.accent_colors div.color.selected {
 border:none
}
div.accent_colors div.color:hover {
 cursor:pointer
}
div.accent_colors div.color:hover,
div.accent_colors div.color.selected {
 background-repeat:no-repeat;
 background-size:50%;
 background-position:center;
 background-image:url("/assets/2/v4/glyphicons/basic/glyphicons-basic-739-check-white-a09b2a26e235b77489dfd57be3b66a17ff86efd5fb94d6db5f10cd3ced01e5a6.svg")
}
section.content a:hover {
 text-decoration:none
}
div.title_header+p {
 margin:20px 0
}
table.api_directory {
 margin-top:30px
}
table.api_directory th:last-of-type {
 padding-left:20px
}
table.api_directory td:nth-of-type(1) {
 padding-right:20px
}
table.api_directory td.description {
 max-width:300px
}
table.api_directory td.description>* {
 display:none
}
table.api_directory td.description p:first-child {
 display:block;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 margin:0
}
div.list div.card.full_width {
 width:100%;
 flex:0 0 100%
}
div.list div.card div.title {
 display:flex;
 flex-wrap:wrap;
 align-items:center;
 box-sizing:border-box;
 width:100%;
 height:96px;
 padding:16px
}
div.list div.card div.info {
 display:flex;
 flex-wrap:wrap;
 align-items:flex-end;
 box-sizing:border-box
}
div.list div.card div.title div.image {
 width:58px;
 height:58px;
 overflow:hidden
}
div.list div.card div.title div.image div.initials {
 width:100%;
 height:100%;
 box-sizing:border-box;
 border:1px solid #fff;
 background-color:rgba(255,255,255,0.05);
 border-radius:5px;
 color:#fff;
 font-size:1.7em;
 line-height:54px;
 text-transform:uppercase;
 text-align:center
}
div.list div.card div.title div.text {
 padding-left:14px
}
div.list div.card.small div.title div.text {
 max-width:128px
}
div.list div.card div.text h2,
div.list div.card div.text p,
div.list div.card div.text a {
 margin-bottom:0;
 color:#fff
}
div.list div.card div.text h2 {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 font-size:1.2em
}
div.list div.card div.text p {
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 color:#fff;
 padding:0;
 font-size:0.9em;
 margin:0;
 font-weight:400
}
div.list div.card div.description {
 font-size:1em;
 line-height:1em;
 font-weight:300;
 padding:16px;
 box-sizing:border-box
}
div.list div.card div.description p:last-child,
div.list div.card div.description ul:last-child {
 margin-bottom:0
}
div.list div.card div.text p+ul {
 padding-top:0
}
p.logo {
 display:flex;
 align-items:center
}
p.logo img {
 margin-right:10px
}
h3.api {
 text-align:center;
 margin-bottom:40px
}
div.choose_api_key_type {
 display:flex;
 flex-wrap:wrap;
 align-items:flex-start;
 justify-content:center;
 margin-top:-15px
}
div.choose_api_key_type div.card {
 padding:20px;
 border-radius:var(--imageBorderRadius);
 margin-left:15px;
 margin-right:15px;
 margin-top:15px;
 margin-bottom:15px
}
div.choose_api_key_type div.card h3 {
 margin:0
}
div.choose_api_key_type div.card h3 a {
 display:inline-flex;
 align-items:center
}
div.choose_api_key_type div.card h3 span {
 display:inline-block;
 position:static;
 margin-right:8px
}
div.choose_api_key_type div.card ul {
 margin:0 0 0 20px;
 list-style-type:disc;
 list-style-position:outside
}
div.row {
 width:100%;
 display:flex
}
div.row div:last-of-type {
 width:100%;
 margin-left:30px
}
div.social_wrapper {
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between;
 margin-top:1rem
}
div.social_wrapper div {
 width:30%
}
div.social_wrapper div:nth-child(-n+3) {
 margin-bottom:1rem
}
section.content div.social_wrapper label span {
 margin-right:5px;
 display:inline-flex;
 align-items:center
}
section.content div.metrics_info {
 width:100%;
 border-left:1px solid #ccc;
 border-right:1px solid #ccc;
 border-bottom:1px solid #ccc;
 box-sizing:border-box;
 margin:30px 0 40px 0
}
section.content div.metrics_info h2 {
 font-size:1.1em
}
section.content div.metrics_info div.breakdown h2 {
 margin-bottom:0
}
section.content div.metrics_info h3 {
 font-size:0.9em;
 color:#999;
 margin:0
}
section.content div.metrics_info p {
 margin-bottom:0;
 color:#333
}
section.content div.metrics_info div.breakdown {
 padding:16px 20px;
 float:left;
 margin-right:20px
}
section.content ul.tabs {
 display:block;
 width:100%;
 border-top:1px solid #ccc;
 margin:0
}
section.content ul.tabs li {
 display:inline-block;
 position:relative;
 display:table-cell;
 vertical-align:middle;
 text-align:center;
 border-left:1px solid #ccc;
 box-sizing:border-box;
 white-space:nowrap
}
section.content ul.tabs li:first-child {
 border-left:none
}
section.content ul.tabs li.last_child {
 width:100%;
 text-align:right;
 padding:0 10px;
 border-bottom:1px solid #ccc
}
section.content ul.tabs li a {
 border-bottom:1px solid #ccc;
 box-sizing:border-box
}
section.content ul.tabs li a.active {
 border-top-width:2px;
 border-top-style:solid;
 border-bottom:none
}
section.content ul.tabs li a {
 color:#000;
 display:block;
 height:100%;
 padding:0 40px;
 height:46px;
 display:flex;
 align-items:center
}
section.content ul.tabs li a:hover {
 text-decoration:none
}
div.rating_wrapper {
 display:none
}
div.discussion_container tr.pagination {
 border:none;
 background:none;
 box-shadow:none;
 padding:0
}
div.discussion_container tr.pagination.hide {
 display:none
}
div.discussion_container tr.pagination td:last-child {
 width:100%;
 padding:0
}
div.discussion_container tr.pagination td:last-child p {
 text-align:center
}
div.discussion_container table td.no_results:last-child {
 padding:0
}
div.items_wrapper {
 width:100%
}
ol.list_results.backdrops {
 list-style-type:none;
 list-style-position:inside;
 padding:0;
 margin:0;
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between
}
ol.list_results.backdrops li {
 width:350px
}
ol.list_results.backdrops li div.image {
 width:100%;
 height:200px;
 overflow:hidden
}
ol.list_results.backdrops li div.image a {
 display:block;
 line-height:0;
 text-decoration:none;
 width:100%;
 height:100%
}
ol.list_results.backdrops li div.image a img {
 transition:0.2s;
 position:relative;
 top:0;
 left:0
}
ol.list_results.backdrops li div.image a:hover img {
 filter:grayscale(100%)
}
ol.list_results.backdrops li div.image a p {
 opacity:0;
 visibility:hidden;
 position:relative;
 top:-120px;
 text-align:center;
 padding:20px 0;
 margin:0;
 background-color:rgba(var(--tmdbLightBlue), 1);
 color:#fff;
 transition:0.2s;
 font-weight:600;
 text-transform:uppercase
}
ol.list_results.backdrops li div.image a p.selected {
 opacity:1;
 visibility:visible;
 border-bottom:none
}
ol.list_results.backdrops li div.image a:hover p {
 opacity:1;
 visibility:visible
}
div.inner_block div.inner_content div.content p.no_image:last-child {
 margin-top:30px
}
div.rating_stars p {
 margin-bottom:10px;
 white-space:nowrap
}
div#activity_graph {
 display:block;
 width:100%
}
table.import td.media_title {
 max-width:300px
}
table.import td.media_title div {
 max-width:90%;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis
}
h2+div.list_option_wrapper {
 margin-left:6px
}
div.list_option_wrapper:hover,
div.moderator_options_wrapper:hover {
 cursor:pointer
}
div.moderator_options_wrapper {
 margin-left:7px
}
div.list_options {
 display:inline-flex;
 align-items:center;
 align-content:center;
 align-self:center;
 justify-content:center;
 background-color:#ccc;
 border-radius:50%;
 border:2px solid #ccc;
 transition:.1s;
 font-size:1.1em;
 line-height:1;
 width:24px;
 height:24px
}
div.moderator_options_wrapper div.list_options {
 top:2px
}
section.events {
 width:100%
}
div.events_header {
 display:flex;
 justify-content:space-between;
 align-items:center;
 height:40px
}
div.inner_block div.content {
 width:100%
}
div.inner_block div.inner_content div.content div.event_header h2,
div.inner_block div.inner_content div.content div.events_header h2 {
 margin-bottom:0
}
div.events div.card {
 width:100%;
 margin-top:30px;
 border:1px solid #e3e3e3
}
div.events div.card:first-of-type {
 margin-top:0
}
div.card div.event_header,
div.card div.event_message,
div.card div.event_status {
 padding:8px 10px
}
div.card div.event_header {
 display:flex;
 justify-content:space-between;
 align-items:center;
 border-bottom:1px solid #e3e3e3;
 background-color:rgba(41,43,44,0.085);
 box-sizing:border-box
}
div.card div.event_header span.glyphicons {
 top:0
}
section.content div.card div.event_header h2 {
 margin-bottom:0;
 font-size:1.1em;
 display:inline-flex;
 align-items:center
}
section.content div.card div.event_header h2 span.glyphicons {
 margin-right:4px
}
div.card div.event_message div {
 display:flex;
 align-items:flex-start;
 justify-content:space-between
}
div.card div.event_message div p {
 margin:0
}
div.card div.event_message div a {
 display:inline-flex;
 align-items:center
}
div.card div.event_message div a.view {
 white-space:nowrap;
 margin-left:20px;
 line-height:1.4
}
div.card div.event_message div a span.glyphicons {
 margin-left:4px
}
div.card div.event_status {
 display:flex;
 justify-content:space-between;
 align-items:center;
 border-bottom:1px solid rgba(0,0,0,0.1);
 background-color:rgba(0,0,0,0.03)
}
div.card div.event_status div.status,
div.card div.event_status div.details,
div.card div.event_status div.details a {
 text-transform:uppercase;
 font-size:0.9em;
 color:rgba(0,0,0,0.5);
 display:flex;
 align-items:center
}
div.card div.event_status div.details a.hide {
 display:none
}
div.card div.event_status div.message {
 font-size:0.9em;
 color:rgba(0,0,0,0.5);
 width:100%;
 text-transform:none;
 margin-left:40px
}
div.card div.event_status span.send_status {
 display:inline-block;
 width:7px;
 height:7px;
 border-radius:50%;
 margin-right:4px
}
div.card div.event_status.one span.send_status {
 background-color:#5FB662
}
div.card div.event_status.two span.send_status {
 background-color:#ffdb34
}
div.card div.event_status.three span.send_status {
 background-color:#FF3448
}
button span.glyphicons {
 margin-right:6px
}
textarea.pre {
 width:100%;
 border:none;
 background-color:#eee;
 padding:10px 20px;
 margin:0;
 box-sizing:border-box;
 height:auto;
 min-height:0;
 outline:none
}
textarea.pre:focus {
 outline:none
}
