<div class="report-widget">
    <h5><?= $title ?></h5>
    <div class="container">
    <?php if(!empty($movies)) : ?>
        <div class="row">
            <?php foreach($movies as $movie): ?>
                <div class="col-6 col-sm-2">
                    <a
                        data-control="popup"
                        data-handler="onDetails"
                        data-extra-data="id: <?= $movie->id ?>"
                        href="javascript:;"
                        data-size="adaptive">
                        <img loading="lazy"
                            class="img-responsive"
                            src="https://image.tmdb.org/t/p/w500/<?= $movie->poster_path ?>" />
                    </a>
                </div>
            <?php endforeach; ?>
        </div>
    <?php else: ?>
        <p>Please choose movie's category!</p>
    <?php endif; ?>
    </div>
</div>
